.loading-overlay {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(8, 15, 35, 0.45);
    backdrop-filter: blur(8px);

    z-index: 9999;
}

.loading-overlay-box {
    min-width: 260px;

    padding: 2rem;

    border-radius: 20px;

    text-align: center;
}

.loading-overlay-box p {
    margin-top: 18px;

    color: white;

    font-size: 1rem;

    font-weight: 500;
}